body {
  overflow-x: hidden;
}

.header_logo {
  text-align: center;
}
.header_logo img {
  width: 100px;
  height: 60px;
}

.banner {
  width: 100%;
}

.showroom-map,
.showroom img {
  width: 100%;
  height: 416px;
}
.seller-item-content {
  padding: 15px;
  background-color: rgba(108, 70, 108, 0.44);
  position: relative;
  margin-bottom: 10px;
}

.seller-item-text {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(108, 70, 108, 0.5);
  color: aliceblue;
}
.seller-item-text h5 {
  margin-bottom: 0px;
}

.sale-off-item-content img {
  width: 100%;
  height: 360px;
}

.sale-off-item-content {
  background-color: rgba(86, 54, 86, 0.123);
}

.sale-off-item-text p:first-child {
  border-bottom: black solid;
}

.sale-off-item-text p:nth-child(2) > span {
  font-weight: bold;
}

.sale-off-item-text p:nth-child(3) > span {
  color: rgba(255, 0, 0, 0.83);
}

.showroom-title {
  padding-bottom: 10px;
}
footer {
  width: 100%;
  background-color: black;
  color: aliceblue;
  text-align: center;
  padding-top: 15px;
  margin: 10px 0px 0px 0px;
}
